html {
	background-color: #393939;
	color: #ffffff;
}

* {
	padding: 0;
	margin: 0;
	font-family: Georgia;
	font-size: 16px;
	border: 0px dotted black;
}

h1 {
	font-family: Georgia;
	font-size: 42px;
	font-weight: bold;
	font-style: italic;
}

h2 {
	font-family: "Lucida Grande";
	font-size: 24px;
	font-weight: normal;
	color: #c94912;
}

h3 {
	font-family: "Lucida Grande";
	font-size: 40px;
	font-weight: normal;
}

h4 {
	font-family: Georgia;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #eeeeee;
}

h5 {
	font-family: Georgia;
	font-size: 24px;
	font-weight: bold;
	font-style: italic;
	color: #c94912;
}

p {
	font-family: georgia
}

a {
	text-decoration: none;
}

a:link {
	color: #1292CA;
	text-decoration: italic bold;
	font-family: georgia;
}

a:hover {
	color: #ffffff;
	text-decoration: italic;
}

a:hover {
	color: #C94912;
	text-decoration: underline;
}

a:visited {
	color: #1292CA;
	text-decoration: italic bold;
	font-family: georgia;
	text-decoration: none;
}



div {
	
}

#header {
	height: 100px;
	width: 100%;
	line-height: 100px;
	border-bottom: 2px solid #999999
}

#wrapper {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	
}

#search {
	width: 24%;
	display: inline-block;
	text-align: center;
}

#icons {
	display: inline-block;
	width: 34%;
	text-align: center;
}

#logo  {
	width: 40%;
	display: inline-block;
	float: right;
	text-align: right;
}

#nav {
	height: 30px;
	display: inline-block;
	float: left;
	
}

#slogan {
	height: 50px;
	display: inline-block;
	float: right;

}

#title-image{
	height: 150px;
	clear: both;
	display: block;
	line-height: 150px;
}

#title{
	clear: both;
	display: inline-block;
	width: 70%;
	text-align: center;
}

#image {
	display: inline-block;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
}

#content {
	display: block;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid #999999;
}


#footer {
	height: 50px;
	width: 100%;
	line-height: 100px;
	text-align: center

}

